#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.fieldset {
    border-color: white;
    border-radius: 10px;
}

.button{
    margin: 10px;
}

.arcadeLogo:hover{
filter: drop-shadow(0 0 2em #000000);
}